:root{
  --color-primary: #c69963;
  --color-primary-dark:  #B28451;

  --color-secondary:   #101d2c;

  --color-grey-light-1:   #f9f7f6;
  --color-grey-light-2:   #aaa;

  --color-grey-dark-1:    #54483A;
  --color-grey-dark-2:    #6D5D4B;

  --font-primary: 'Nunito', sans-serif;
  --font-display: 'Josefin Sans', sans-serif;

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3);


/* ----- MEDIA QUERIES ----- */
  --bp-largest: 75em; /* 1200 px */
  --bp-large: 62.5em; /* 1000 px */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html{
  box-sizing: border-box;
  font-size: 62.5%; /* So that 1rem = 10px (10px/16px (browsers default) = 62.5% -> 1rem = 10px */
}

body{
  font-family: var(--font-primary);
  font-weight: 300;
  color: var(--color-grey-dark-2); 
}

.container{
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content); 
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
}

.heading-1{
  font-family: var(--font-display);
  font-weight: 400;

  font-size: 4.5rem;
  color: var(--color-grey-light-1);
  line-height: 1;
}
.heading-2--light{
  font-family: var(--font-display);
  font-weight: 400;

  font-size: 4rem;
  font-style: italic;
  color: var(--color-grey-light-1);
}

.heading-2--dark{
  font-family: var(--font-display);
  font-weight: 400;

  line-height: 1;
  font-size: 4rem;
  font-style: italic;
  color: var(--color-grey-dark-1);
}
.heading-3{
  font-family: var(--font-display);
  font-weight: 400;

  font-size: 1.6rem;
  color: var(--color-primary);
  text-transform: uppercase;
}

.heading-4--light{
  font-family: var(--font-display);
  font-weight: 400;
  font-size: 1.9rem;
  color: var(--color-grey-light-1);
}

.heading-4--dark{
  font-family: var(--font-display);
  font-weight: 400;
  font-size: 1.9rem;
  color: var(--color-grey-dark-1);
}

.btn{
  background-color: var(--color-primary);
  color: white;
  border: none;
  border-radius: 0;
  font-family: var(--font-display);
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  cursor: pointer;
  transition: all .2s;
}

.btn:hover{
  background-color: var(--color-primary-dark);
}

.mb-sm {margin-bottom: 2rem;}
.mb-md {margin-bottom: 3rem;}
.mb-lg {margin-bottom: 4rem;}
.mb-hg {margin-bottom: 8rem;}



@media only screen and (max-width: 75em){
    html{
        font-size: 50%;
    }
}

@media only screen and (max-width: 62.5em){
    .container{
      grid-template-rows: 6rem 80vh min-content 40vw repeat(3, min-content); 
      grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
    }
}